<div class="post">
    <div class="post-content">
       <figcaption class="review__user">
               <img src="/img/user-2.jpg" alt="User 1" class="review__photo">
               <div class="review__user-box">
                   <p class="review__user-name">Mary Thomas</p>
                   <p class="review__user-date">Marketing Professional</p>
                   <div class="review__user-date">3days ago</div>
               </div>
             <!--  <div class="review__rating">9.3</div>-->
       </figcaption>
       <h3 class="post__title">Looking for Mughlai cooks</h3>
       <p class="post__text">At new hotel in andheri looking for lady chefs with good pay and freshers also allowed </p>
    <!--<img src="/img/hotel-1.jpg" alt="" class="post__img">-->
   </div>
   <div class="post__actions">
           <div class="post__tool">
                  <span>10</span> 
              <img class="post__tool--img" src="/img/email.png" alt="">
               
           </div>
           <div class="post__tool">
                  <span>10</span> 
               <img class="post__tool--img" src="/img/like.png" alt="">
           </div>
       </div>
</div>