<div class="post">
    <div class="post-content">
       <figcaption class="review__user">
               <img src="/img/user-2.jpg" alt="User 1" class="review__photo">
               <div class="review__user-box">
                   <p class="review__user-name">{{post.uname}}</p>
                   <p class="review__user-date">{{post.uinfo}}</p>
                   <div class="review__user-date">{{post.postcreated}}</div>
               </div>
             <!--  <div class="review__rating">9.3</div>-->
       </figcaption>
       <h3 class="post__title">{{post.title}}</h3>
       <p class="post__text">{{post.text}} </p>
    <!--<img src="/img/hotel-1.jpg" alt="" class="post__img">-->
   </div>
   <div class="post__actions">
           <div class="post__tool">
                  <span>10</span> 
              <img class="post__tool--img" src="/img/email.png" alt="">
               
           </div>
           <div class="post__tool">
                  <span>10</span> 
               <img class="post__tool--img" src="/img/like.png" alt="">
           </div>
       </div>
</div>