<div class="profile-box">
    <div class="profile-flex">
            <div class="form-group profile-flex-2 u-margin-right-small">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname">
            </div>
            <div class="form-group profile-flex-2">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname">
            </div>
    </div>
   
    <div class="form-group">
            <div class="profile-flex">
                <div class="form-group u-margin-right-small">
                    <label for="status">Status</label>
                    <select class="form-control" id="status">
                        <option>Single</option>
                        <option>Married</option>
                    </select>
                </div>
                <div class="form-group">
                        <label for="language">Mother Tounge</label>
                        <select class="form-control" id="language">
                            <option>Marathi</option>
                            <option>Gujarati</option>
                            <option>Kanad</option>
                            <option>Malyalam</option>
                            <option>Punjabi</option>
                            <option>Bihari</option>
                        </select>
                </div>
            </div>
    </div>
    <div class="form-group">
            <div class="profile-flex">
                <div class="form-group u-margin-right-small">
                    <label for="qualification">Qualification</label>
                    <select class="form-control" id="qualification">
                        <option>Bachelor</option>
                        <option>Masters</option>
                        <option>Doctarate</option>
                        <option>Matriculate</option>
                        <option>None</option>
                    </select>
                </div>
            <div class="form-group">
                    <label for="field">Field</label>
                    <input type="text" class="form-control" id="field">
            </div>
            </div>
    </div>
    <button class="btn btn--green profile-flex__btn">Save</button>
    </div>