<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular Messenger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
 
<my-app>Loading...</my-app>
 
<script src="/js/app/bundle.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script>
    /*var stickyOffset = $('.sticky_header').offset().top;
var header_top=$('.header__top');
$(window).scroll(function(){
  var sticky = $('.sticky_header'),
      scroll = $(window).scrollTop();

  if (scroll >= 150) {
      sticky.addClass('fixed_header');
      //header_top.addClass('no-display');
      }
  else {
      sticky.removeClass('fixed_header');}
      //header_top.removeClass('no-display');}
});*/
</script>
</body>
</html>
