<div class="search-pane">
    <form action="#" class="search">
        <div class="search__input-box">
              <input type="text" class="search__input" placeholder="search people">
              <button class="search__button">
                      <img src="/img/musica-searcher.png" class="search__icon">
              </button>
        </div>
    </form>
    <div class="search-results">
        <div class="profile-card">
            <img class="profile-card__img" src="/img/user-1.jpg" alt="">
            <h4 class="profile-card__name">Martha</h4>
            <h5 class="profile-card__details">Marketing Professional</h5>
            <h5 class="profile-card__details">Cooking</h5>
            <button class="btn btn--green u-margin-top-small">Profile &rarr;</button>
        </div>
        <div class="profile-card">
          <img class="profile-card__img" src="/img/user-1.jpg" alt="">
          <h4 class="profile-card__name">Martha</h4>
          <h5 class="profile-card__details">Marketing Professional</h5>
          <h5 class="profile-card__details">Cooking</h5>
          <button class="btn btn--green u-margin-top-small">Profile &rarr;</button>
      </div>
      <div class="profile-card">
          <img class="profile-card__img" src="/img/user-1.jpg" alt="">
          <h4 class="profile-card__name">Martha</h4>
          <h5 class="profile-card__details">Marketing Professional</h5>
          <h5 class="profile-card__details">Cooking</h5>
          <button class="btn btn--green u-margin-top-small">Profile &rarr;</button>
      </div>
      <div class="profile-card">
          <img class="profile-card__img" src="/img/user-1.jpg" alt="">
          <h4 class="profile-card__name">Martha</h4>
          <h5 class="profile-card__details">Marketing Professional</h5>
          <h5 class="profile-card__details">Cooking</h5>
          <button class="btn btn--green u-margin-top-small">Profile &rarr;</button>
      </div>
      <div class="profile-card">
          <img class="profile-card__img" src="/img/user-1.jpg" alt="">
          <h4 class="profile-card__name">Martha</h4>
          <h5 class="profile-card__details">Marketing Professional</h5>
          <h5 class="profile-card__details">Cooking</h5>
          <button class="btn btn--green u-margin-top-small">Profile &rarr;</button>
      </div>
      <div class="profile-card">
          <img class="profile-card__img" src="/img/user-1.jpg" alt="">
          <h4 class="profile-card__name">Martha</h4>
          <h5 class="profile-card__details">Marketing Professional</h5>
          <h5 class="profile-card__details">Cooking</h5>
          <button class="btn btn--green u-margin-top-small">Profile &rarr;</button>
      </div>
    </div>
  </div>